# --- Python-related ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
ENV/
env/

# --- Node.js / Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/src/data/  # ignore CSV & large data

# --- Backend ---
backend/old_dbs/
backend/db_backups/
backend/*.db
backend/.env
backend/.env.*

# --- Editor/OS ---
.DS_Store
.idea/
.vscode/
*.iml
*.log
*.swp
*.swo

# --- Git ---
.git
.gitignore