# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
*.local

# Dependency directories
**/node_modules/

# Editor config
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific ignores
.env
.env.development
.env.production
Artists.json
Artworks.json
frontend/src/data/
backend/old_dbs
backend/alive_then.db
backend/humans.db
backend/works.db
backend/db_backups
backend/scripts
