



.stats-row {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.261);
  background-color: #0f19d300;
  display: flex;
  flex-direction: row;
  border: 1px solid #74747400;
  font-family: Tahoma, serif;
  font-size: 1rem;
  color: #0f0f0f9a;
}


.stats-box {
  position: relative;
  box-sizing: border-box;
  
  height: 100%;
  box-shadow: 0 0 2px rgba(150, 16, 16, 0);

  padding: 1rem;
  background-color: #15c1a200;
  font-size: 0.7rem;
  color: #0f0f0f9a;
  /* line-height: 1.4; */
  align-content: center;
  z-index: 11;
  
}
.chart-box {
  /* position: relative; */
  box-sizing: border-box;
  /* width: auto; */
  /* height: 100%; */
  border-radius: 2px;
  padding: 0.3rem;
  background-color: #15c1a200;
  font-size: 1.7rem;
  color: #0f0f0f9a;
  /* line-height: 1.4; */
  
  align-content: center;
  z-index: 11;
  flex: 1;
}

.chart-box-title {
  position: absolute;
  /* text-align:end; */
  background-color: rgba(109, 145, 230, 0);
  padding: 0.5rem;
  box-sizing: border-box;
 
  z-index: 100;
  font-size: 1.3rem;
}


.divider {
  width: 100%;
  border: none;
  height: 3px;
  padding: 0rem;
  background-color: #403f3f;
  margin: 1rem 0;
  opacity: 0.5;
}