
.filter_list {
  box-sizing: border-box;

  align-items: center;
  justify-content: center;  
  
  
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.261);
  background-color: #0f19d300;
  transition: transform 0.3s ease-in-out;
 
  z-index: 500;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}